Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.12
Werkzeug==0.11.9
wheel==0.24.0
Flask-FlatPages==0.5
Frozen-Flask==0.11
Markdown==2.3.1
PyYAML==3.10
Pygments==1.6
wsgiref==0.1.2